
@import 'helpers';

.header {
   
    .container {
        
        @include md-block() {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

.header__holder {
    @include flex;
    min-height: 100px;
    align-items: center;

    @include md-block() {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.logo {
    margin-right: 30px;

    @include xs-block() {
        margin-right: 0px;
        width: 100%;
        text-align: center;

        img {
            width: auto;
        }
    }
}

.delivery__text {
    color: $greyColor;

    @include sm-block() {
        display: none;
    }
}

.header__phone {
    margin-left: auto;
    @include flex;
    flex-direction: column;

    @include xs-block() {
        display: none;
    }
}

.header__phone-num {
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;

    &:hover {

        &::before {
            opacity: 1;
        }
    }

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        background: url('../img/icon-phone.svg') no-repeat;
        background-position: center;
        position: absolute;
        top:  3px;
        left: 0;
        opacity: .5;
    }
}

.header__phone-text {
    color: $greyColor;
    font-size: 14px;
    text-align: right;
}

// Jumbotron

.jumbotron {
    padding-top: 110px;
    min-height: 780px;
    color: #fff;
    background: url('../img/jumbotron-bg.jpg') no-repeat;
    background-attachment: fixed;

    @include md-block() {
        min-height: auto;
        background-size: cover;
    }
}

.jumbotron__col {
    @include col();
    @include size(6);
}

.jumbotron__col--left {
    text-align: center;
    img {
        width: auto;
    }

    @include md-block() {
        display: none;
    }
}

.jumbotron__col--right {
    margin-top: 50px;
    @include size-md(12);

    @include md-block() {
        text-align: center;
    }

    .form-holder {
        @include md-block() {
            display: none;
        }
    }
}

.jumbotron__text-subtitle {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.jumbotron__text-title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.jumbotron__text-desc {
    max-width: 500px;

    @include md-block() {
        width: 100%;
        max-width: 100%;
    }
}

.jumbotron__form {
    padding-top: 30px;
    padding-left: 45px;
    border: 1px solid $greenColor;
    @include flex;
    flex-direction: column;

    input {
        margin-bottom: 15px;
    }

    input:first-child {
        margin-right: 15px;
    }

    p {
        margin-top: 45px;
    }

}

.jumbotron__form--md {
    padding: 30px;
    display: block;
    background: #fff;


    legend {
        width: 100%;
        text-align: center;
    }

    input {
        margin-bottom: 50px;
        width: 100%;
        text-align: center;
    }

    button {
        margin: 0px auto;
    }
}

.jumbotron__form-btn {
    margin-top: 100px;
    align-self: flex-end;
}

button.jumbotron__btn--md {
    margin: 60px auto;
    display: none;

    @include md-block() {
        display: block;
    }
}