
// variables

$greyColor: #9a9a9a;

// mixins

@mixin flex {
    display: flex;
    flex-wrap: wrap;
}

@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin border {
	border: 1px solid tomato;
}



// classes

.container {
    @include wrapper;
}

.row {
	margin: 0 auto;
	@include flex;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
